//out: style.css
//main: style.less

@font: 'Open Sans';
@seledynowy: #0a6d63;
@szary-tekst: #6b6969;

body {
    margin: 0;
    font-family: @font;
}
h1, h2, h3 {
    color: @seledynowy;
    font-weight: 600;
}
p, span {
    color: @szary-tekst;
    font-size: 15px;
    text-align: justify;
}

.baner {
    min-height: 451px;
    background-image: url(img/baner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .light {
        background: rgba(27, 157, 148, 0.8);
    }
    .dark {
        background: rgba(6, 69, 62, 0.75);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
    }
    h1 {
        text-transform: uppercase;
        color: white;
        font-size: 34px;
        margin: 0;
        text-align: right;
        padding: 15px 70px 15px 0;
    }
}
.rog {
    position: absolute;
    z-index: 99;
}

.navbar-nav {
    // margin-left: 70px;
    li {
        display: inline-block;
        a {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            padding: 65px 10px 25px 10px;
            color: #2c2b2b;
            transition: color 0.3s ease;
            &:hover {
                color: @seledynowy;
                background-color: transparent;
            }
        }
    }
}

.absolute {
    position: absolute;
    width: 100%;
}
.first-line {
    bottom: 80px;
}
.menu-container {
    z-index: 999;
}


.welcome {
    padding-top: 85px;
    padding-bottom: 85px;
    img {
        @media (max-width: 767px) {
            display: block;
            margin: 0 auto;
        }
    }
}

.section {
    padding-top: 55px;
    padding-bottom: 55px;
    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h2 {
        font-size: 30px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position:relative;
        &:after {
            content: '';
            height: 7px;
            width: 20%;
            background: #e4e4e4;
            position: absolute;
            bottom: 0;
            left: 0px;
        }
    }
    p {
        margin-bottom: 25px;
        line-height: 1.7;
    }
}

.doswiadczenia {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 570px;
    background-image: url('img/doswiadczenia-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.niezaleznosc {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.pomoc {
    background: #0c787a;
    padding-top: 30px;
    padding-bottom: 30px;
    h3 {
        color: white;
    }
    .nav-tabs {
        margin-top: 50px;
        border-bottom: none;
        background: #1c5e5f;
    }
    .nav-tabs>li>a {
        border-radius: 0;
        padding: 10px 55px;
        font-weight: 600;
        color: white;
        font-size: 12px;
        // &.active {
        //     color: #154540;
        //     &:hover {
        //         color: #154540;
        //     }
        // }
        &:hover {
            color: #154540;
        }
    }
    .nav-tabs>li.active>a {
        color: #154540;
        &:hover {
            color: #154540;
        }
    }
    .bar-content {
        height: 400px;
            padding-top: 50px;
            padding-bottom: 50px;
            background: #0b6b6d;
            -webkit-box-shadow: inset 10px 10px 110px -1px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 10px 10px 110px -1px rgba(0,0,0,0.25);
            box-shadow: inset 10px 10px 110px -1px rgba(0,0,0,0.25);
            color: white;
            p {
                color: white;
                font-size: 14px;
                line-height: 1.6;
                display: none;
            }
            .active {
                display: block;
            }
            &:first-of-type {
                border-right: 10px solid #0c787a;
            }
            &:nth-of-type(2) {
                border-left: 10px solid #0c787a;
            }
    }
}

.tlumaczony {
    padding-top: 65px;
    padding-bottom: 65px;
}

.referencje {
    padding-top: 65px;
    padding-bottom: 65px;
    background: #e7e7e7;
    @media(max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.wspolpraca {
    min-height: 532px;
    background-image: url('img/bg-jak-wyglada-wspolpraca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 14px;
    position: relative;
    .pamietaj-ze {
        background: #e89c0c;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: -25px;
        @media (max-width: 1199px) {
            display: none;
        }
        div {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            padding: 23px 15px;
            h4 {
                margin: 0;
                text-transform: uppercase;
                font-weight: 600;
            }
            &:first-of-type {
                background: #d68c00;
                position: relative;
                &:before {
                    content: url('img/pamietaj-ze-left.png');
                    position: absolute;
                    left: -52px;
                    top: 0;
                    height: 92px;
                    width: auto;
                }
                &:after {
                    content: url('img/pamietaj-ze-right.png');
                    position: absolute;
                    right: -49px;
                    top: 0;
                    height: 92px;
                    width: auto;
                }
            }
            &:nth-of-type(2) {
                padding-left: 55px;
                padding-right: 20px;
            }
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            text-transform: none;
        }
    }
    h2 {
        color: white;
        font-size: 26px;
        &:after {
            display: none;
        }
    }
    ol, ul {
        padding-left: 15px;
        li {
            padding-left: 15px;
            line-height: 1.8;
        }
    }
    
    p {
        margin-top: 25px;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        font-family: @font;
        font-weight: 300;
    }
}

.doswiadczenie {
    padding-top: 65px;
    padding-bottom: 65px; 
}

.ps {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #edf0f2;
    @media(max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h1 {
        text-align: center;
        color: #5d5959;
        font-size: 48px;
        margin: 0;
        margin-top: 15px;
    }
    p {
        margin: 0;
    }
}

.wpcf7-form {
    h4 {
        text-transform: uppercase;
        color: @seledynowy;
        font-weight: 600;
        font-size: 14px;
    }
    label {
        font-weight: 300;
        color: #6b6969;
        font-size: 12px;
        text-align: justify;
    }
}
.wpcf7-submit {
    width: 100%;
    background: #1c857c;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 6px;
    font-family: @font;
    -webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
}
.input-form {
    width: 100%;
    height: 47px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f0f0f0;
    border: none;
    font-family: @font;
}
.input-textarea {
    width: 100%;
    resize: none;
    height: 171px;
    padding: 15px;
    background: #f0f0f0;
    border: none;
    font-family: @font;
}

.no-padding {
    padding: 0;
}

.form-contact {
    padding-bottom: 0;
    .container {
        padding-bottom: 55px;
        border-bottom: 3px solid #e4e4e4;
    }
}

.skype {
    img {
        margin: 0 auto;
        display: block;
    }
}

.proces {
    min-height: 532px;
    background-image: url('img/proces-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    h2 {
        color: white;
        font-size: 26px;
        &:after {
            display: none;
        }
    }
    ol, ul {
        padding-left: 15px;
        li {
            padding-left: 15px;
            line-height: 2.5;
            @media(max-width: 767px) {
                line-height: 1.5;
                padding-bottom: 15px;
            }
        }
    }
    
    p {
        margin-top: 25px;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        font-family: @font;
        font-weight: 300;
    }
}

.jak-wyglada-proces {
    min-height: 809px;
    background-image: url('img/jak-proces-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    .bars {
        margin-bottom: 65px;
    }
    .content:not(.active) {
        display: none;
    }
    h3 {
        color: white;
    }
    .rzad:not(:last-of-type) {
        border-bottom: 2px solid white;
    }
    .rzad {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .element:not(:last-of-type) {
            border-right: 2px solid white;
        }
        .element {
            padding-top: 25px;
            padding-bottom: 25px;
            background: transparent;
            transition: background 0.3s ease;
            &:hover {
                cursor: pointer;
                background: white;
                h4 {
                    display: block;
                    color: @seledynowy;
                    text-transform: uppercase;
                    font-weight: 800;
                    text-align: center;
                    font-size: 15px;
                    margin: 0 auto;
                    position: absolute;
                    top: 43%;
                    width: 75%;
                    left: 12.5%;
                }
            }
            span {
                color: white;
                font-weight: 600;
                font-size: 15px;
                position: absolute;
                left: 15px;
                top: 15px;
            }
            h4 {
                display: none;
            }
            img {
                margin: 0 auto;
            }
            h5 {
                color: white;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                width: 75%;
                margin: 15px auto 0 auto;
                display: block;
            }
        }
    }
}

blockquote {
    background: white;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
    padding: 35px;
    p {
        font-size: 14px;
        line-height: 1.4;
    }
}

#map {
    height: 450px;
}

footer {
    background-color: #106264;
    background-image: url('img/footer-top.png');
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    h5 {
        color: #14d9c9;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
    }
    p {
        text-align: justify;
        color: #12a59d;
        font-size: 14px;
        line-height: 2;
    }
    span {
        color: white;
        font-size: 14px;
        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: #fefefe;
            }
        }
    }
}
.stopka {
        padding-top: 30px;
        padding-bottom: 30px;
        background: #1c5162;
    }

.bars {
        background: #1c5e5f;
        float: left;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        div {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            color: white;
            font-weight: 600;
            font-size: 12px;
            &.active {
                background: white;
                color: #154540;
                &:hover {
                    cursor: default;
                }
            }
            &:hover:not(.active) {
                cursor: pointer;
                background: white;
                color: #154540;
            }
        }
    }

    .grey-bg {
        min-height: 570px;
        background-image: url(img/doswiadczenia-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
    }

.pull-right-sm {
    float: right!important;
    @media(max-width: 767px) {
        float: none!important;
    }
}

.navbar-brand {
    display: none;
}

@media (max-width: 1465px) {
    .rog {
        display: none;
    }
    .baner {
        background-image: url('img/baner-simple.png');
    }
    .navbar-nav li a {
        padding-top: 50px;
    }
    .navbar-brand {
        display: block;
        img {
            max-height: 100px;
        }
    }
    .navbar-collapse {
        float: right;
    }
    .menu-container {
        float: left!important;
        width: 100%;
    }
    .navbar {
        margin-bottom: 20px;
    }
    .baner {
        h1 {
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {

    .jak-wyglada-proces .rzad .element {
        border-right: none!important;
        border-bottom: 2px solid white;
    }

    .jak-wyglada-proces .rzad {
        border-bottom: none!important;
    }

    .pomoc .bar-content {
        border: none!important;
        margin-bottom: 20px;
    }

    .baner {
        h1 {
            font-size: 22px;
            text-align: center;
            padding: 15px;
        }
        .dark, 
        .first-line {
            width: 100%;
            clip-path: none;
            webkit-clip-path: none;
            bottom: 0;
        }
        .first-line {
            top: 160px;
        }
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 35px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        width: 100%;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        display: block;
        text-align: right;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-toggle {
    i {
        color: black;
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .baner {
        min-height: 240px;
        h1 {
            font-size: 16px!important;
            text-align: left!important;
            padding: 15px;
        }
        .dark, 
        .first-line {
            width: 100%;
            clip-path: none;
            webkit-clip-path: none;
            bottom: 0;
        }
        .first-line {
            top: 60px;
        }
    }

    .section {
        h2 {
            font-size: 24px;
        }
    }
}

.first-line,
.dark {
    display: none;
    // visibility: hidden;
}