body {
  margin: 0;
  font-family: 'Open Sans';
}
h1,
h2,
h3 {
  color: #0a6d63;
  font-weight: 600;
}
p,
span {
  color: #6b6969;
  font-size: 15px;
  text-align: justify;
}
.baner {
  min-height: 451px;
  background-image: url(img/baner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.baner .light {
  background: rgba(27, 157, 148, 0.8);
}
.baner .dark {
  background: rgba(6, 69, 62, 0.75);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
}
.baner h1 {
  text-transform: uppercase;
  color: white;
  font-size: 34px;
  margin: 0;
  text-align: right;
  padding: 15px 70px 15px 0;
}
.rog {
  position: absolute;
  z-index: 99;
}
.navbar-nav li {
  display: inline-block;
}
.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 65px 10px 25px 10px;
  color: #2c2b2b;
  transition: color 0.3s ease;
}
.navbar-nav li a:hover {
  color: #0a6d63;
  background-color: transparent;
}
.absolute {
  position: absolute;
  width: 100%;
}
.first-line {
  bottom: 80px;
}
.menu-container {
  z-index: 999;
}
.welcome {
  padding-top: 85px;
  padding-bottom: 85px;
}
@media (max-width: 767px) {
  .welcome img {
    display: block;
    margin: 0 auto;
  }
}
.section {
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.section h2 {
  font-size: 30px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.section h2:after {
  content: '';
  height: 7px;
  width: 20%;
  background: #e4e4e4;
  position: absolute;
  bottom: 0;
  left: 0px;
}
.section p {
  margin-bottom: 25px;
  line-height: 1.7;
}
.doswiadczenia {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 570px;
  background-image: url('img/doswiadczenia-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.niezaleznosc {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .niezaleznosc {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.pomoc {
  background: #0c787a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pomoc h3 {
  color: white;
}
.pomoc .nav-tabs {
  margin-top: 50px;
  border-bottom: none;
  background: #1c5e5f;
}
.pomoc .nav-tabs > li > a {
  border-radius: 0;
  padding: 10px 55px;
  font-weight: 600;
  color: white;
  font-size: 12px;
}
.pomoc .nav-tabs > li > a:hover {
  color: #154540;
}
.pomoc .nav-tabs > li.active > a {
  color: #154540;
}
.pomoc .nav-tabs > li.active > a:hover {
  color: #154540;
}
.pomoc .bar-content {
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0b6b6d;
  -webkit-box-shadow: inset 10px 10px 110px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 10px 10px 110px -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 10px 10px 110px -1px rgba(0, 0, 0, 0.25);
  color: white;
}
.pomoc .bar-content p {
  color: white;
  font-size: 14px;
  line-height: 1.6;
  display: none;
}
.pomoc .bar-content .active {
  display: block;
}
.pomoc .bar-content:first-of-type {
  border-right: 10px solid #0c787a;
}
.pomoc .bar-content:nth-of-type(2) {
  border-left: 10px solid #0c787a;
}
.tlumaczony {
  padding-top: 65px;
  padding-bottom: 65px;
}
.referencje {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #e7e7e7;
}
@media (max-width: 767px) {
  .referencje {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.wspolpraca {
  min-height: 532px;
  background-image: url('img/bg-jak-wyglada-wspolpraca.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 14px;
  position: relative;
}
.wspolpraca .pamietaj-ze {
  background: #e89c0c;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -25px;
}
@media (max-width: 1199px) {
  .wspolpraca .pamietaj-ze {
    display: none;
  }
}
.wspolpraca .pamietaj-ze div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 23px 15px;
}
.wspolpraca .pamietaj-ze div h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.wspolpraca .pamietaj-ze div:first-of-type {
  background: #d68c00;
  position: relative;
}
.wspolpraca .pamietaj-ze div:first-of-type:before {
  content: url('img/pamietaj-ze-left.png');
  position: absolute;
  left: -52px;
  top: 0;
  height: 92px;
  width: auto;
}
.wspolpraca .pamietaj-ze div:first-of-type:after {
  content: url('img/pamietaj-ze-right.png');
  position: absolute;
  right: -49px;
  top: 0;
  height: 92px;
  width: auto;
}
.wspolpraca .pamietaj-ze div:nth-of-type(2) {
  padding-left: 55px;
  padding-right: 20px;
}
.wspolpraca .pamietaj-ze p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
.wspolpraca h2 {
  color: white;
  font-size: 26px;
}
.wspolpraca h2:after {
  display: none;
}
.wspolpraca ol,
.wspolpraca ul {
  padding-left: 15px;
}
.wspolpraca ol li,
.wspolpraca ul li {
  padding-left: 15px;
  line-height: 1.8;
}
.wspolpraca p {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}
.doswiadczenie {
  padding-top: 65px;
  padding-bottom: 65px;
}
.ps {
  padding-top: 75px;
  padding-bottom: 75px;
  background: #edf0f2;
}
@media (max-width: 767px) {
  .ps {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.ps h1 {
  text-align: center;
  color: #5d5959;
  font-size: 48px;
  margin: 0;
  margin-top: 15px;
}
.ps p {
  margin: 0;
}
.wpcf7-form h4 {
  text-transform: uppercase;
  color: #0a6d63;
  font-weight: 600;
  font-size: 14px;
}
.wpcf7-form label {
  font-weight: 300;
  color: #6b6969;
  font-size: 12px;
  text-align: justify;
}
.wpcf7-submit {
  width: 100%;
  background: #1c857c;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 6px;
  font-family: 'Open Sans';
  -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
}
.input-form {
  width: 100%;
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f0f0f0;
  border: none;
  font-family: 'Open Sans';
}
.input-textarea {
  width: 100%;
  resize: none;
  height: 171px;
  padding: 15px;
  background: #f0f0f0;
  border: none;
  font-family: 'Open Sans';
}
.no-padding {
  padding: 0;
}
.form-contact {
  padding-bottom: 0;
}
.form-contact .container {
  padding-bottom: 55px;
  border-bottom: 3px solid #e4e4e4;
}
.skype img {
  margin: 0 auto;
  display: block;
}
.proces {
  min-height: 532px;
  background-image: url('img/proces-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 16px;
}
.proces h2 {
  color: white;
  font-size: 26px;
}
.proces h2:after {
  display: none;
}
.proces ol,
.proces ul {
  padding-left: 15px;
}
.proces ol li,
.proces ul li {
  padding-left: 15px;
  line-height: 2.5;
}
@media (max-width: 767px) {
  .proces ol li,
  .proces ul li {
    line-height: 1.5;
    padding-bottom: 15px;
  }
}
.proces p {
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}
.jak-wyglada-proces {
  background-image: url('img/jak-proces-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.jak-wyglada-proces .bars {
  margin-bottom: 65px;
}
.jak-wyglada-proces .content:not(.active) {
  display: none;
}
.jak-wyglada-proces h3 {
  color: white;
}
.jak-wyglada-proces .rzad:not(:last-of-type) {
  border-bottom: 2px solid white;
}
.jak-wyglada-proces .rzad {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.jak-wyglada-proces .rzad .element:not(:last-of-type) {
  border-right: 2px solid white;
}
.jak-wyglada-proces .rzad .element {
  padding-top: 25px;
  padding-bottom: 25px;
  background: transparent;
  transition: background 0.3s ease;
}
.jak-wyglada-proces .rzad .element:hover {
  cursor: pointer;
  background: white;
}
.jak-wyglada-proces .rzad .element:hover h4 {
  display: block;
  color: #0a6d63;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  position: absolute;
  top: 43%;
  width: 75%;
  left: 12.5%;
}
.jak-wyglada-proces .rzad .element span {
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.jak-wyglada-proces .rzad .element h4 {
  display: none;
}
.jak-wyglada-proces .rzad .element img {
  margin: 0 auto;
}
.jak-wyglada-proces .rzad .element h5 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
  margin: 15px auto 0 auto;
  display: block;
}
blockquote {
  background: white;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
  padding: 35px;
}
blockquote p {
  font-size: 14px;
  line-height: 1.4;
}
#map {
  height: 450px;
}
footer {
  background-color: #106264;
  background-image: url('img/footer-top.png');
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: 100% 0;
  background-repeat: no-repeat;
}
footer h5 {
  color: #14d9c9;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
footer p {
  text-align: justify;
  color: #12a59d;
  font-size: 14px;
  line-height: 2;
}
footer span {
  color: white;
  font-size: 14px;
}
footer span a {
  color: white;
}
footer span a:hover {
  text-decoration: none;
  color: #fefefe;
}
.stopka {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #1c5162;
}
.bars {
  background: #1c5e5f;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.bars div {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-weight: 600;
  font-size: 12px;
}
.bars div.active {
  background: white;
  color: #154540;
}
.bars div.active:hover {
  cursor: default;
}
.bars div:hover:not(.active) {
  cursor: pointer;
  background: white;
  color: #154540;
}
.grey-bg {
  /* min-height: 570px; */
  background-image: url(img/doswiadczenia-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.pull-right-sm {
  float: right!important;
}
@media (max-width: 767px) {
  .pull-right-sm {
    float: none!important;
  }
}
.navbar-brand {
  display: none;
}
@media (max-width: 1465px) {
  .rog {
    display: none;
  }
  .baner {
    background-image: url('img/baner-simple.png');
  }
  .navbar-nav li a {
    padding-top: 50px;
  }
  .navbar-brand {
    display: block;
  }
  .navbar-brand img {
    max-height: 100px;
  }
  .navbar-collapse {
    float: right;
  }
  .menu-container {
    float: left!important;
    width: 100%;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .baner h1 {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .jak-wyglada-proces .rzad .element {
    border-right: none!important;
    border-bottom: 2px solid white;
  }
  .jak-wyglada-proces .rzad {
    border-bottom: none!important;
  }
  .pomoc .bar-content {
    border: none!important;
    margin-bottom: 20px;
  }
  .baner h1 {
    font-size: 22px;
    text-align: center;
    padding: 15px;
  }
  .baner .dark,
  .baner .first-line {
    width: 100%;
    clip-path: none;
    webkit-clip-path: none;
    bottom: 0;
  }
  .baner .first-line {
    top: 160px;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-top: 35px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
    width: 100%;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
    display: block;
    text-align: right;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.navbar-toggle i {
  color: black;
  font-size: 30px;
}
@media (max-width: 480px) {
  .baner {
    min-height: 240px;
  }
  .baner h1 {
    font-size: 16px!important;
    text-align: left!important;
    padding: 15px;
  }
  .baner .dark,
  .baner .first-line {
    width: 100%;
    clip-path: none;
    webkit-clip-path: none;
    bottom: 0;
  }
  .baner .first-line {
    top: 60px;
  }
  .section h2 {
    font-size: 24px;
  }
}
.first-line,
.dark {
  display: none;
}

.referencje {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #e7e7e7;
}
.referencje blockquote {
  background-image: url('img/quotation.png');
  background-repeat: no-repeat;
  padding: 60px;
  min-height: 270px;
}
.referencje blockquote p:not(.active) {
  display: none;
}
.referencje .author {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  margin-top: 30px;
}
.referencje h2 {
  display: inline-block;
}
.referencje .arrows {
  display: inline-block;
  margin-top: 25px;
}
.referencje .arrows i {
  font-size: 24px;
  color: #858585;
  margin-left: 15px;
}
.referencje .arrows i:hover {
  cursor: pointer;
}